.filter-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s;
  background-color: white;
  color: #374151;
}

.filter-btn:hover {
  background-color: #f3f4f6;
}
.filter-btn.active {
  background-color: #4f46e5;
  color: white;
}
